* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background-color: #ccccff;
}

.me {
    margin-top: 160px;
    margin-left: 230px;
}

.me h1 {
    font-size: 30px;
}

.me p {
    font-size: 16px;
}

.information {
    width: 360px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    margin-left: 1000px;
    height:200px;
}

#title {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}


#Login {
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color:#5b6574;
    margin-top: 30px;
    margin-bottom: 20px;
}
#Login:hover {
    font-size: 23px;
    color: #3274d6;
}

#Register {
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #5b6574;
    margin-bottom: 30px;
}

#Register:hover {
    font-size: 23px;
    color: #3274d6;
}